body {
  background-color: whitesmoke;
}
a {
  color: aqua;
}

.name-poe {
  text-align: center;
  color: aliceblue;
  opacity: 1;
}
.name-poe-backing {
  background-color: #23395d;
  opacity: 0.95;
  width: 45%;
  margin-left: 30%;
  position: absolute;
  margin-top: 18%;
}

.tab-management {
  position: absolute;
  margin-top: 54.75%;
  width: 100%;
}
/* #about-me{} */
/* #portfolio{} */
/* #contact-me{} */
