body {
  background-color: #23395d;
}
a {
  color: blue;
}

.sky-box {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.name-poe {
  font-size: 4vw;
  text-align: center;
  color: aliceblue;
  opacity: 1;
}
.name-poe-backing {
  background-color: #23395d;
  opacity: 0.95;
  width: 50%;
  margin-left: 30%;
  margin-top: 18%;
}

.tab-management {
  position: relative;
  margin-top: 20%;
  width: 100%;
}
.tabs .tab a {
  color: blue;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: #eee;
  color: lightskyblue;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color: #eee;
  color: blue;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: blue;
} /*Color of underline*/

.sides {
  background-color: grey;
}
.headshot {
  width: 33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
.about-content {
  margin-top: 1.5%;
  background-color: white;
}
.row {
  background-color: whitesmoke;
}
.github-link {
  margin-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  height: 8%;
  width: 8%;
}
#about-box {
  background-color: white;
}
.contact {
  padding: 5%;
}

.footer-icon {
  width: 33%;
}
.codewars {
  margin-top: 10%;
  width: 12%;
}
.github-footer {
  width: 38%;
}
#footer {
  background-color: #23395d;
}
.abttxt {
  margin-top: 2%;
  margin-right: 4%;
}
.icon-set {
  width: 40%;
}
.bruh {
  background-color: #23395d;
  margin-top: 0%;
  margin-bottom: 0%;
}
.resume {
  margin-top: 5%;
}
